In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/test/test.csv')

In [9]:
df['AgeCategory'].unique()

array(['Age 50 to 54', 'Age 60 to 64', 'Age 65 to 69', 'Age 30 to 34',
       'Age 80 or older', 'Age 45 to 49', 'Age 35 to 39', 'Age 55 to 59',
       'Age 75 to 79', 'Age 18 to 24', 'Age 70 to 74', 'Age 25 to 29',
       'Age 40 to 44'], dtype=object)

In [12]:
for i, value in enumerate(df['AgeCategory'].unique()):
    print(i, value)

0 Age 50 to 54
1 Age 60 to 64
2 Age 65 to 69
3 Age 30 to 34
4 Age 80 or older
5 Age 45 to 49
6 Age 35 to 39
7 Age 55 to 59
8 Age 75 to 79
9 Age 18 to 24
10 Age 70 to 74
11 Age 25 to 29
12 Age 40 to 44

In [16]:
order_ages = [9,11,3,6,12,5,0,7,1,2,10,8,4]
for i in order_ages:
    <

In [17]:
df['AgeCategory'].unique()

array(['Age 50 to 54', 'Age 60 to 64', 'Age 65 to 69', 'Age 30 to 34',
       'Age 80 or older', 'Age 45 to 49', 'Age 35 to 39', 'Age 55 to 59',
       'Age 75 to 79', 'Age 18 to 24', 'Age 70 to 74', 'Age 25 to 29',
       'Age 40 to 44'], dtype=object)