In [157]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

pd.set_option('display.max_columns', 500)

In [158]:
df = pd.read_csv('../data/raw/healthcare-dataset-stroke-data.csv.xls')

In [159]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [160]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [162]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [163]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [164]:
# https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

In [165]:
df2 = pd.read_excel('../data/raw/Patients Data ( Used for Heart Disease Prediction ).xlsx', index_col=0)

In [166]:
df2['HadStroke'].value_counts()

HadStroke
0    227702
1      9928
Name: count, dtype: int64

In [167]:
df2['HadStroke']

PatientID
1         0
2         0
3         0
4         0
5         0
         ..
237626    0
237627    0
237628    0
237629    0
237630    0
Name: HadStroke, Length: 237630, dtype: int64

In [168]:
# Al ser tantos registros que tienen accidente cerebral 0, vamos a eliminar el 90% para poder trabajar y balancear el modelo
condition_rows = df2[df2['HadStroke'] == 0]
rows_to_drop_count = int(0.93 * len(condition_rows))
drop_indices = condition_rows.sample(n=rows_to_drop_count, random_state=1).index
df2 = df2.drop(drop_indices)
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [169]:
df2['HadStroke'].value_counts(normalize=True)

HadStroke
0    0.616205
1    0.383795
Name: proportion, dtype: float64

In [172]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25868 entries, 10 to 237629
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      25868 non-null  object
 1   Sex                        25868 non-null  object
 2   GeneralHealth              25868 non-null  object
 3   AgeCategory                25868 non-null  object
 4   HeightInMeters             25868 non-null  float64
 5   WeightInKilograms          25868 non-null  float64
 6   BMI                        25868 non-null  float64
 7   HadHeartAttack             25868 non-null  int64
 8   HadAngina                  25868 non-null  int64
 9   HadStroke                  25868 non-null  int64
 10  HadAsthma                  25868 non-null  int64
 11  HadSkinCancer              25868 non-null  int64
 12  HadCOPD                    25868 non-null  int64
 13  HadDepressiveDisorder      25868 non-null  int64
 14  HadKidneyDisease           25868 non-null  int64
 15  HadArthritis               25868 non-null  int64
 16  HadDiabetes                25868 non-null  object
 17  DeafOrHardOfHearing        25868 non-null  int64
 18  BlindOrVisionDifficulty    25868 non-null  int64
 19  DifficultyConcentrating    25868 non-null  int64
 20  DifficultyWalking          25868 non-null  int64
 21  DifficultyDressingBathing  25868 non-null  int64
 22  DifficultyErrands          25868 non-null  int64
 23  SmokerStatus               25868 non-null  object
 24  ECigaretteUsage            25868 non-null  object
 25  ChestScan                  25868 non-null  int64
 26  RaceEthnicityCategory      25868 non-null  object
 27  AlcoholDrinkers            25868 non-null  int64
 28  HIVTesting                 25868 non-null  int64
 29  FluVaxLast12               25868 non-null  int64
 30  PneumoVaxEver              25868 non-null  int64
 31  TetanusLast10Tdap          25868 non-null  object
 32  HighRiskLastYear           25868 non-null  int64
 33  CovidPos                   25868 non-null  int64
dtypes: float64(3), int64(22), object(9)
memory usage: 6.9+ MB

In [176]:
df2.drop(columns=['CovidPos', 'HighRiskLastYear', 'TetanusLast10Tdap', 'PneumoVaxEver', 'FluVaxLast12', 'HIVTesting', 'ChestScan', 'ECigaretteUsage', 'DifficultyErrands', 'DifficultyDressingBathing', 'DifficultyWalking','DifficultyConcentrating','BlindOrVisionDifficulty', 'DeafOrHardOfHearing', 'HadSkinCancer', 'HadAsthma','State'], inplace=True)

In [177]:
df2.to_csv('../data/raw/healthcare-dataset-raw.csv', index=False)